@font-face {
  font-family: "Droidserif";
  src: url(../s/edithfont/Edith-Regular.woff);
}
.nav-style {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}
.nav-style .nav-logo {
  display: flex;
  align-items: center;
}
.nav-style .nav-logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
  display: none;
}
.nav-style .nav-logo h1 {
  font-family:"Droidserif";
  display: none;
  font-size: 1.9rem;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-style ul {
  list-style: none;
  display: flex;
}
.nav-style ul li {
  margin-left: 1.5rem;
}
.nav-style ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

.nav-style ul li a:hover {
  background-color: #f5f5f5;
}

.small-hamburger {
  display: none;
  cursor: pointer;
}

.small-hamburger .line {
  width: 25px;
  height: 2px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.small-hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.small-hamburger-active .line:nth-child(2) {
  width: 0px;
}

.small-hamburger-active .line:nth-child(1),
.small-hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.small-hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.small-hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.small-menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 2;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.small-menubar ul {
  padding: 0;
  list-style: none;
}
.small-menubar ul li {
  margin-bottom: 32px;
}

.small-menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.small-menubar ul li a:hover {
  background-color: #f5f5f5;
}
.container{
  box-sizing: border-box;
  padding: 5px 15px 5px 15px;
  
}

@media screen and (max-width: 790px) {
  .small-hamburger {
    display: block;
  }

  .nav-style ul {
    display: none;
  }
.nav-style .nav-logo img{
  display: flex;
}
.nav-style .nav-logo h1{
  display: flex;
}
}
